* {
    box-sizing: border-box
}
.carousel {
    margin: 40px auto;
    margin-bottom: 100px;
    max-width: 333px;
    position: relative;
}
.carousel-inner {
    border-radius: 15px;
    max-height: 500px;
}
#clock {
    position: absolute;
    left: 50%;
    font-size: 3em;
    font-weight: 400;
    background-color: transparent;
    transition: color 0.4s, background-color 0.4s;
    text-align: center;
}
.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}
.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;

    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}
.active, .dot:hover {
    background-color: #717171;
}
.screen-mode {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    width: 100%;
}
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}
body {
    color: black;
    background-color: white;
    transition: color 0.4s, background-color 0.4s;
    font-family: sans-serif;
}
body.dark-mode {
    background-color: #121212;
    color: #f0f0f0;
}
.dark-mode-toggle {
    position:static;
    top: 20px;
    right: 20px;
    padding: 10px 15px;
    background-color: transparent;
    color:#FFFFFF8C;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
    z-index: 1000;
    display: flex;
    align-items: center;
    gap: 10px;
}

.dark-mode-toggle:hover {
    background-color: #555;
}
.content {
    padding: 100px 20px;
    text-align: center;
    width: 100%;
    box-sizing: border-box;
}
.screen-mode img {
    position:relative;
    left: 0;
    margin: 0;
    padding: 0;
    height: 60px;
}
.Personaggi{
    display: flex;
    gap: 60px;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 50px;
    flex-wrap: wrap;

}
.Personaggi > div {
    transition: transform 0.3s ease;
}
.Personaggi > div:hover {
    transform: scale(1.1);
    z-index: 1;
}
.Pg1{
    padding: 0px 15px;
    width: 25%;
    display: flex;
    flex-direction: column;
    border: 2px solid black;
    border-radius: 10px;
    padding: 15px;
    box-shadow: 0 4px 8px rgba(199, 102, 0, 0.8);
    text-align: center;
    align-items: center;
}
.Pg1 img {
    max-width: 100%;
    height: auto;
    border-radius: 20%;
}
.Pg2{
    padding: 0px 15px;
    width: 25%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid black;
    border-radius: 10px;
    padding: 15px;
    box-shadow: 0 4px 8px rgba(255, 9, 0, 0.4);
}
.Pg3 {
    padding: 0px 15px;
    width: 25%;
    display: flex;
    flex-direction: column;
    border: 2px solid black;
    border-radius: 10px;
    padding: 15px;
    box-shadow: 0 4px 8px rgba(50, 205, 50, 0.5);
    text-align: center;
    overflow-x: auto;
}
.weather-container {
    display: flex;
    justify-content: flex-end;
    margin-top: -20px;
    margin-bottom: 20px;
    padding-right: 20px;
}
#weather {
    background-color: rgba(255, 255, 255, 0.1);
    padding: 10px 20px;
    border-radius: 10px;
    text-align: right;
    max-width: 250px;
    color: inherit;
}
body.dark-mode #weather {
    background-color: rgba(0, 0, 0, 0.3);
}
footer {
    padding: 5px 5px;
    font-size: 10px;
    background-color: rgba(128, 128, 128, 0.2); /* grigio semi-trasparente */
    width: 100%;

    bottom: 0;
    left: 0;
    right: 0;
}
a{
    color: rebeccapurple;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
    text-decoration: none;
}
.titolo-progetto {
    text-align: center;
    border-radius: 10px;
    padding: 40px 20px;
    background: rgba(128, 128, 128, 0.2);
    border-bottom: 2px solid #ffc107 ;
    color: #ffc107;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
    margin-left: 10px;
    margin-right: 10px;
}
.separatore {

    height: 2px;
    background-color: #ffc107;
    margin: 0 10px 30px 10px; /* top, right, bottom, left */
    opacity: 0.6;
}
.membri-party{
    margin-left: 50px;
    color: #ffc107;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}
