* {
    box-sizing: border-box
}


.carousel {
    max-width: 1000px;
    position: relative;
    margin: auto;
}



#clock {
    font-size: .8em;
    font-weight: 400;
    background-color: var(--primary-background);
    transition: color 0.4s, background-color 0.4s;
    text-align: center;
}
/* Number text (1/3 etc) */
.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

/* The dots/bullets/indicators */
.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active, .dot:hover {
    background-color: #717171;
}
.screen-mode {
    padding: 15px;
    background-color: darkgray;
    color: black;
    font-size: 15px;
    text-align:center;
}
label {
/*    display:flex;*/
    justify-content:space-evenly;
/*    align-items:center;*/
    margin-right:0rem;
    margin-left:1.5rem;
}

:root {
    color-scheme: light dark;
    --primary-color: light-dark(#333, #fafafa);
    --primary-background: light-dark(#e4e4e4, #121212);
    --highlight-color: light-dark(hotpink, lime);
}
:root {
    &:has(input[name="color-scheme"][value="light dark"]:checked) {
        color-scheme: light dark;
    }
    &:has(input[name="color-scheme"][value="light"]:checked) {
        color-scheme: light;
    }
    &:has(input[name="color-scheme"][value="dark"]:checked) {
        color-scheme: dark;
    }
}
body {
    color: var(--primary-color);
    background-color: var(--primary-background);
    transition: color 0.4s, background-color 0.4s;
}
mark {
    background: var(--highlight-color);
    transition: color 0.4s, background-color 0.4s;
}
.screen-mode img {
    position:absolute;
    left: 2rem;
/*    width:contain;
    height:contain;
    float:left;*/
}

